h1, h2, h3, p {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
}
p {
    font-size: x-small;
}
body {
   margin: 0;
   max-width: 1280px;
}

ul li {
    cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.top-navigator {
    display: flex;
    flex-direction: row;
    width: 220px;
    margin: 0;
    margin-right: 165px;
}

.top-navigator li {
    display: inline;
    list-style: none;
    margin: auto;
}

.header-container {
    width: 100vw;
    height: 60px;
    background-color: #33B7BC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.87);
}

.header-logo-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 165px;
}
.logo {
    margin: 0;
}

.background-image-container {
    height: 370px;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/python-for-newbies.jpg);
    background-color: #000;
    background-size: 100%;
    background-position: 50% 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}

.background-image-text-container {
    color: rgba(255, 255, 255, 100);
    text-align: center;
    margin: 0%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);  
}

.mid-navigator {
    display: flex;
    flex-direction: row;
    width: 768px;
    justify-content: space-between;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.mid-navigator-item-container {
    color: rgba(0, 0, 0, 0.65);
    margin: 10px 0;

}

.button {
    background-color: #33B7BC;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.footer {
    width: 100vw;
    background-color: #363E3E;
}

.footer-text-container {
    color: rgba(255, 255, 255, 0.87);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 45px;
}
  
.footer-copyright-text {
    color: rgba(255, 255, 255, 0.4);
}
  